@import "../../../assets/colors";

.lists-container {
    display: flex;
    flex-direction: column;
    .list-container {
        display: flex;
        flex-direction: column;
        margin: 5px 0 0 5px;
        cursor: pointer;
        .list {
            margin: 5px 0;
            .title-and-icon-container {
                display: flex;
                align-items: center;
            }
        }
    }

    .list-title {
        margin-left: 15px;
    }
    .lists-title {
        font-size: 12px;
        font-weight: bold;
    }
}
