@import "../../assets/colors";

.sidebar-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 25%;
    background-color: $sidebar-gray;
    border-radius: 10px;
    padding: 20px;
    hr {
        margin: 20px 0;
    }
    .sidebar-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .title {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .search-container {
        margin-top: 15px;
        .form-container {
            display: flex;
            position: relative;
            .search-icon {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: $icon-gray;
            }
            input {
                width: 100%;
                padding: 10px 10px 10px 40px;
                border-radius: 5px;
                border: 1px solid $sidebar-gray-highlight;
                background-color: $sidebar-gray;
            }
            ::placeholder {
                color: $icon-gray;
                font-family: "Poppins", sans-serif;
            }
        }
    }
}
